@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030712;
  color: #f9fafb;
}

h1 {
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-weight: 600;
  line-height: 1.3;
}

p {
  line-height: 1.6;
}
